*{
  box-sizing: border-box;
}
.hidden {
  display: none!important;
}

.error {
  color: red;
}

.error input, .error textarea,
.error input:focus, .error textarea:focus {
  border: 2px solid red;
}


.error input:focus, .error textarea:focus {
  -moz-box-shadow: 0 0 5px red;
  -webkit-box-shadow: 0 0 5px red;
  box-shadow: 0 0 5px red;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
}

ul.dropdown {
  list-style: none;
  height: 40px;
  border: none;
  position: relative;
  padding: 0;
  font-size: 20px;
  line-height: 1;
  display: block;
}

ul.dropdown li {
  padding:5px;
  height: 40px;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background: white;
  border: 1px solid #ccc;
}

ul.dropdown li.active {
  z-index: 50;
}

ul.dropdown.active li:hover{
  background: #eee;
}

ul.dropdown.active li.active {
  background: #bfe4f4;
}

img {
  max-width: 100%;
  max-width: 500px;
}

#image-hover-top,
#image-hover-right,
#image-hover-bottom,
#image-hover-left {
  position: fixed;
  display: none;
  border: 2px solid #333;
  background: transparent!important;
  z-index: 1000px;
}

#image-hover-top,
#image-hover-bottom
 {
  width: 100px;
  height: 1px;
}
#image-hover-right,
#image-hover-left {
  width: 1px;
  height: 100px;
}
